
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Pangolin&display=swap');


.maindiv{
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border: 1px solid #6c3bd5;
    border-radius: 13px;
    margin-bottom: 16px;
    background-color: #f9f9f9;
}
.container {
    width: 100%;
    
}
.header h1 {
    font-family: "Merienda", serif;
    font-weight: 800;
    font-size: 22px;
    font-style: normal;
    color: #112054;
}

.messages {
    margin-top: 10px;
    display: flex;
    background-color: #f9f9f9;
    flex-direction: column;
    gap: 10px;
    padding: 12px;
    border: 1px solid #931ade;
    border-radius: 13px;
    margin-bottom: 16px;
    min-height: 400px;
    height: 463px;
    overflow-y: scroll;
}

.message {
    display:flex;
    flex-direction: column;
    cursor: pointer;
    padding: 5px 20px;
    border: 1px solid #5525e6;
    border-radius: 13px;
    background-color: #f9f9f9;
    
}

.messageHeaderr{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2px;
    color: #112054;
    border-bottom: 1px solid #bbb;
}
.messageHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2px;
    font-family: "Merienda", serif;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
}
.messageContent {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    font-family: "Merienda", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

.alert {
    font-family: "Merienda", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-style: italic;
    font-size: 21px;
    padding-top: 40px;
    color: red;

}

.logo {

    cursor: pointer;
}
.logo img {
    height: 40px;
}

.profile {
    display: flex;
    align-items: center;
    height: 40px;
    width: 40px;
    border: 1px solid #1c37cd;
    border-radius: 50%;
    cursor: pointer;
}
.profile img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.button {
    position: absolute;
    left: auto;
    right: auto;
    background-color: #007bff;
    color: #fff;
    border: none;
    width: 85px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px 15px;
}
